.page__footer {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding: 0.25rem 0 !important;
}

.page__footer-follow {
  display: none !important;
}

.page__footer-copyright {
  border-top: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.1 !important;
  text-align: center;
}
